* {
    max-width: 100vw;
    max-height:100vh;

}

body {
    width:100vw;
    margin:0 0 0 0%;
    overflow-x:hidden;
    z-index:1;
    background-image: url("../Resources/Space.jpg");
    background-repeat: repeat;
    background-size: 120vw 100vw;
    background-position-y: top;
    background-position-x: center;
}

a:hover {
    background-color: white; 
    border-radius:10px;
    padding: 5px 10px 5px 10px;
    color:black !important;
    
}
#hei {
    z-index:1;
    display:block;
}

nav {
    position:flex;
    margin-top:40vh;
}
li:hover {
    color: black; 
    z-index:5;
}

@media (max-width:500px) {

li {
    padding:4vw 1vw 4vw 1.5vw;
    background-color: white;
}
   
    
}

#MaskinlæringTxt {
    color: white;
    
}

#AITxt {
    color: white;
    
}

#RobotenesHistorieTxt {
    color: white;
    
}

#ForsideTxt {
    color: white;
    
}

.active {
    background-color: white;
    color: black;
    
}

.active #ForsideTxt {
    background-color: white;
    color: #3B3635;
}

.active #AITxt {
    background-color: white;
    color: #3B3635;
}

.active #MaskinlæringTxt {
    background-color: white;
    color: #3B3635;
}

.active #RobotenesHistorieTxt {
    background-color: white;
    color: #3B3635;
}


@media (min-width:500px)
{

ul {
    background-color: #3B3635;
    list-style-type: none;
    display:flex;
    width:100vw;

}
li {
    padding: 1vw 2vw 1vw 2vw;
    margin:5px;
    
    font-weight: 600;
    border-radius:10px;
    font-size:3vw;
}


a {
    
    text-decoration:none;
    
    padding:5px 10px 5px 10px;
    margin:5px;
}
h2 {
    text-align:center;
    font-size:5vw;
    margin-top:-3vh;
    margin-bottom: 5vh;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
p {
    font-size: 20px;
    margin:0 2vw;
    background-color: white;
    padding: 6vw 23vh;
    margin:-3vh 0 0 0;
    margin-right:25vw;
    max-width:75vw;
    float:right;
    overflow-x:hidden;
    overflow:scroll;

}
}
#Link1 {
    margin-left:75;
    
}
